build/*
!build/.gitkeep
cmake-build-/
CMakeFiles/
CMakeCache.txt
MakeFile
cmake_install.cmake
compile_commands.json


*.o
*.obj
*.lo
*.la
*.a
*.so
*.dll
*.dylib
*.exe
*.out


.vscode/
.idea/
*.code-workspace
.cache/


.DS_Store
Thumbs.db

*~
*.tmp
*.swp
*.swo
